# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# environments
.env
.venv
env/
venv/
ENV/

# Django stuff:
local_settings.py
db.sqlite3
db.sqlite3-journal

# IDEs and OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Docker data (if local mounts are used)
.docker/
postgres_data/
